#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
}

nav .brand-logo {
  margin-left: 20px;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #283593;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.main-pan {
    min-height: 300px;
}

#main {
    background-color: #e9eaed;
    margin-top: 0;
}

.feed-link {
    padding-left: 200px;
}

.side-nav {
    top: 0;
    margin: 0;
    height: -moz-calc(100%);
    padding-bottom: 60px;
    padding-top: 64px;
    background-color: #fff;
    z-index: -1;
    overflow-y: auto;
    will-change: left;
}

.side-nav li i {
    color: #f44336;
}